<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ipd.mayachuxing">
    <!-- 用于进行网络定位 -->
    <application
        android:name=".utils.ApplicationUtil"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:allowBackup, theme, label, android:name">
        <activity android:name=".activity.ReturnDepositActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <service android:name="com.amap.api.location.APSService" /> -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" /> <!-- 适配华为（huawei）刘海屏 -->
        <activity
            android:name=".activity.AdoptActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <activity
            android:name=".activity.MyAdoptActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" /> <!-- Bugly -->
        <!-- 配置APP ID -->
        <activity
            android:name=".activity.ShareActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" /> <!-- 配置APP版本号 -->
        <activity
            android:name=".activity.QRActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:theme="@style/XQRCodeTheme.Custom" /> <!-- 配置APP渠道号 -->
        <activity
            android:name=".activity.PayActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" /> <!-- 配置Bugly调试模式（true或者false） -->
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />

        <activity
            android:name=".activity.ReportActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.MalfunctionActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.ApplyParkingSpotActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.CantUnlockActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.MsgActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.ApplicationToJoinActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.JoinInActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.TripDetailsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.TripActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.CouponActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.WithdrawTypeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.AddBankActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.SelectBankActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.WithdrawActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.AccountActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.RechargeTypeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.RechargeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.WalletActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.NicknameActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.PersonalDocumentActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.UseEndActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.DepositRechargeActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.IuthenticationActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.GuideActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.GuideDetailsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".activity.GuideListActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx7f5f66aed474d3fb" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d0dbf38b13444d2bb0778720b739a2d3" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="BUGLY_APPID"
            android:value="4bc9446231" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0" />
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${INSTALL_CHANNEL_VALUE}" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />
    </application> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

</manifest>